/* Header.css */
.header {
  
  background-color: #333;
  color: white;
  text-align: left;
  padding: 20px;
  display: flex;
  border-radius: 30px;
}

.header h1 {
  font-size: 2rem;
  margin-left: 10px;
  padding-right: 75%;
}

.popcorn-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

